* {
	box-sizing: border-box;
	/* border: 1px solid black; */
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 1.2rem;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	margin: 1.5rem;
}

.nav-menu {
	display: flex;
	gap: 0.5rem;
}
