* {
	box-sizing: border-box;
	/* border: 1px solid black; */
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	width: 90%;
	margin: 0 auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 1.5rem;
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}
